<div class="app_layout_header"></div>
<div class="header">
  <h1>SIGN UP</h1>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'users'}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.text_field :name, autofocus: true, placeholder: 'name' %>
  </div>
  
  <div class="field">
    <%= f.email_field :email, autocomplete: "email", placeholder: 'email' %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password (#{@minimum_password_length} characters minimum)" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password repeat" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class:"btn"%>
  </div>
  <%= render "devise/shared/links" %> 
<% end %>

