<% 
  @amount = 0 
  Expenditure.where(group_id: group.id).each do |exp|
    @amount += exp.amount
  end
  @amount
%>

<%= link_to "/groups/#{group.id}/expenditures", class:'group progress', style:"background-image: linear-gradient(to right, springgreen #{@sum == 0 ? 0 : @amount*100/@sum}%, #fff #{@sum== 0 ? 0 : @amount*100/@sum}%)" do %>
  <% if group.icon.attached? %>
    <%= image_tag(group.icon, class: 'icon') %>
  <% else %>
    <div style="background-color:<%= group.default_colors[0] %>; color: <%= group.default_colors[1] %>" class="icon">
      <%= group.name[0].upcase %>
    </div>
  <% end %>
  <p>
    <span><%= group.name %></span>
    <span><%= group.created_at.strftime('%Y-%m-%d') %></span>
  </p>

  <div class="amount">
    $ <%= @amount %>
  </div>
<% end %>
