<h2>LOG IN</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'users'}) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, placeholder:"email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, placeholder:"password" %>
  </div>



  <div class="actions">
    <%= f.submit "Log in" , class:"btn"%>
  </div>
  <%= render "devise/shared/links" %>
<% end %>

