<p style="color: green"><%= notice %></p>

<%= render @expenditure %>

<div>
  <%= link_to "Edit this expenditure", "/groups/#{params['group_id']}/expenditures/#{params['id']}/edit" %> |
  <%= link_to "Back to expenditures", "/groups/#{params['group_id']}/expenditures/#{params['id']}" %>

  <%= button_to "Destroy this expenditure", "/groups/#{params['group_id']}/expenditures/#{params['id']}/delete", method: :delete %>
</div>
